@import '~antd/dist/antd.css';

.flex-container {
    /* margin: 5px 5px; */
}
.flex-container .inline {
    /* width: 80px!important; */
    /* margin: 3px 3px 3px 0; */
}
  .flex-container .small {
    height: 20px!important;
    line-height: 20px!important;
}
.sub-title {
    color: #888;
    font-size: 14px;
    padding: 0px 0 18px 0;
}
.placeholder {
    background-color: #ebebef;
    color: #bbb;
    text-align: center;
    height: 30px;
    line-height: 30px;
    width: 100%;
}

.am-search {
    border-bottom: 1px solid #ddd;
}

.hidden-mylist, .hidden-skeleton {
    /* visibility: hidden;  */
    display: none;
}

.show-mylist .show-skeleton {
    /* visibility: visible; */
    display: block;
}
